.faqs-page-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  height: 100vh;
  /* width: 100rem; */
}

h2 {
  text-align: center;
  color: #333;
}

.faq-item {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #007bff;
}

.faq-question:hover {
  color: #0056b3;
}

.faq-toggle {
  font-size: 16px;
  color: #333;
}

.faq-answer {
  margin-top: 5px;
  color: #555;
}
